<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487655015422-ilrh0ae98laljfka2u7eija85jksod00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487655015422-ilrh0ae98laljfka2u7eija85jksod00</string>
	<key>API_KEY</key>
	<string>AIzaSyAmygJEsgpt2dR2EsGT3JF2MArznPl5Rew</string>
	<key>GCM_SENDER_ID</key>
	<string>487655015422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleSolution2</string>
	<key>PROJECT_ID</key>
	<string>smart-watch-97659</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-watch-97659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487655015422:ios:b90b6aa32f1d3b07a176af</string>
</dict>
</plist>